*{
    margin: 0; 
    font-family: sans-serif;
    list-style-type: none;
}

img{
    width: 100%;
}

.macro-container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* Barre absolute */

.player{
    width: 100vw;
    background-color: #282828;
    height: 15vh;
    position: absolute;
    bottom: 0;

}

.barra-laterale{
    height: 85vh;
    width: 10vw;
    background-color: #000000;
    position: absolute;
    left: 0;
    color: white;
}

.contenitore-barra-laterale{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav ul{
    padding: 5px;
    font-size: larger;
    line-height: 30px;
    text-align: center;
}

.user ul{
    padding: 5px;
    font-size: larger;
    line-height: 30px;
    text-align: center;
}

/* Barra superiore */

.barra-superiore{
    width: 90vw;
    background-color: #080B12;
    height: 15vh;
    position: absolute;
    left: 10vw; 
    display: flex;
}

.upgrade-button{
    color: #F5F5F6;
    border: #F5F5F6 solid 2px;
    font-size: xx-small;
    padding: 15px;
    border-radius: 30px;
    align-self: center;
    align-self: center;
    align-content: start;
}


/* Parte centrale */
.container{
    height: 70vh;
    width: 90vw;
    position: absolute;
    top: 15vh;
    left: 10vw;
    overflow: scroll;
}

.categorie ul{
    display: flex;
    padding: 0;
    padding-block: 30px;
    gap: 20px;
    color: #7A7C81;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #141922;
    font-size: x-small;
    font-weight: 750;    
}

/* Brani recenti */

.categories-title{
    padding: 5px;
}

.subtitle{
    color: #797B7F;
}

.sections{
    background-color: #141922;
    color: white;
    padding: 10px;
}

.contenitore-brani{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    padding: 10px;
    flex-basis: calc(100% / 2 - 20px);
}

.song-title{
    text-align: center;
    padding-block: 5px;
}

.artist{
    text-align: center;
    color: #76787D;
    padding-block: 5px;
}

.circle{
    border-radius: 50%;
}